/* Reset */
* { margin: 0; padding: 0; box-sizing: border-box; outline: none; }
a { text-decoration: none; }
em { font-style: normal; }
li { list-style: none; }
html { overflow-y: scroll; background-color: #f3f3f3; }
/* Reset End */

/* Header */
header {
    position: fixed;
    width: 100%;
    height: 64px;
    background-color: #fff;
    border-bottom: 1px solid #d0d0d0;
    z-index: 100;
    display: flex;
}

#logo {
    float: left;
    width: 170px;
    height: 64px;
}

#logo img {
    width: 140px;
    height: 27px;
    margin: 20px 0 0 16px;
}

.input {
    width: 185px;
    height: 48px;
    padding-top: 20px;
    background-color: transparent;
    border-bottom: 2px solid #d0d0d0 !important;
    color: #333;
}

.input_search {
    width: 156px;
    height: 100%;
    border: none;
    padding: 10px 0px;
    font-weight: 700;
    line-height: 20px;
    font-size: 13px;
}

.input_search::placeholder {
    font-size: 12px;
    color: #999;
    font-weight: lighter;
}

.btn_search {
    background-color: #fff;
    border: none;
}

.btn_search > .ti-search {
    background-color: none;
    cursor: pointer;
    color: rgb(117, 117, 117);
}
/* Header End */

/* Side */
#side {
    position: fixed;
    z-index: 50;
    top: 0;
    right: 0;
    height: 100%;
    width: 258px;
    border-left: 1px solid #d0d0d0;
    background-color: #f3f3f3;
    display: flex;
    flex-direction: column;
}

#side > .profile {
    padding-top: 80px;
    width: 218px;
    margin: 0 15px;
    height: 219px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.link_img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto 9px;
}

.link_name {
    text-align: center;
    width: 100%;
    font-weight: 700;
    font-size: 27px;
    letter-spacing: -1px;
    color: #333;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.friend {
    
}

/* Side End */

/* Container */
.container {
    width: 100%;
    height: 100%;
    padding-right: 259px;
    padding-top: 65px;
    position: absolute;
    text-align: center;
}

.container_wrap {
    background-color: #000;
    width: 800px;
    height: 342px;   
    position: relative;
    margin: 0 auto;
    color: #fff;
}

.bg {
    position: absolute;
    width: 800px;
    height: 342px;
    background-color: rgba(0, 0, 0, 0.192);
    z-index: 5;
}

.myStory {
    background-image: url(/images/profileBG.jpg);
    height: 100%;
    position: relative;
}

.myStory > .name {
    z-index: 6;
    position: absolute;
    width: 190px;
    top: 50px;
    left: 70px;
    display: flex;
    justify-content: space-between;
}

.myStory > .name > img {
    border: 3px solid #fff;
    width: 100px;
    border-radius: 50%;
}

.myStory > .name > span {
    font-size: 28px;
    line-height: 80px;
}

.myStory > .menu_story {
    z-index: 6;
    position: absolute;
    bottom: 15px;
    left: 40px;
    font-size: 14px;
    width: 470px;
    height: 35px;
}

.myStory > .menu_story > ul {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;  
}

.myStory > .menu_story > ul > li {
    width: 67px;
    display: block;
    text-align: center;
    cursor: pointer;
    color: rgb(201, 197, 197);
}

.myStory > .menu_story > ul > li:hover {
    color: #fff;
    border-bottom: 3px solid #f26a41;
}

.myPost {
    width: 578px;
    display: inline-block;
    text-align: center;
    position: relative;
    top: 0;
    margin-top: 10px;
}

.section {
    width: 578px;
    min-height: 190px;
    padding: 40px 40px 0px;
    background-color: #fff;
    margin-bottom: 15px;
    border-bottom: 1px solid #dedede;
    text-align: left !important;
    position: relative;
    height: auto;
}

.section > .post_profile {
    position: absolute;
    top: 10px;
    left: 20px;
    width: 200px;
    display: flex;
    justify-content: space-between;
}

.section > .post_profile > img {
    border-radius: 50%;
    width: 45px;
}

.section > .post_profile > .post_info {
    display: flex;
    flex-direction: column;
}

.section > .post_content {
    margin-top: 20px;
    min-height: 80px;
    width: 100%;
    text-overflow: clip;
}

.section > .btnList {
    position: absolute;
    right: 20px;
    top: 20px;
}

.section > .comment {
    padding: 0 40px 15px;
    margin: 0 -40px;
    width: 100%;
    position: absolute;
    bottom: 0;
    border-top: 1px solid #f4f4f4;
    background-color: #fcfcfc;
    padding-top: 15px;
}

.section > .comment > .comment_input {
    padding: 5px 10px;
    width: 100%;
    background-color: #ddd;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    border: 1px solid #e6eaed;
}

.section > .comment > .comment_input > input {
    width: 85%;
    border: none;
}

.section > .comment > .comment_input > input::placeholder {
    color: rgb(180, 180, 180);
}

.comment_input > .comment_icon {
    color: rgb(201, 201, 201);
    font-size:20px;
}

.comment_input > .comment_icon span {
    cursor: pointer;
}

.comment_input > .comment_icon span:hover {
    color: rgb(143, 143, 143);
}

.comment_post {
    display: none;
    position: absolute;
    width: 64px;
    height: 39px;
    border-color: #f7a68d;
    background-color: #f7a68d;
    color: #fff;
    bottom: 15px;
    right: 30px;
    text-align: center;
    line-height: 39px;
    border-radius: 3px;
}

.widget {
    position: relative;
    margin-top: 10px;
    margin-left: 10px;
    width: 182px;
    display: inline-block;
}

.widget div {
    height: 212px;
    background-color: #fff;
    border-bottom: 1px solid #dedede;
    padding: 0 15px;
}

.widget_info {
    margin: 0 0 10px;
}



/* Container End */

/* Modify */
.cover_wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 201;
    background-color: rgba(0, 0, 0, 0.527);
    text-align: center;
    display: none;
}

.modify_write {
    display: inline-block;
    width: 578px;
    position: relative;
    top: 100px;
    padding: 36px 40px 16px;
    min-height: 150px;
    background-color: #fff;
    border-bottom: 1px solid #dedede;
    text-align: left;
    height: 252px !important;
}

.modify_write > textarea {
    width: 100%;
    border: none;
    color: #000;
    height: 37px;
    font-size: 14px;
    resize: none;
    min-height: 70%;
}

.modify_write > textarea::placeholder {
    color: #999;
}

.modify_write > .btn_group {
    width: 160px;
    height: 34px;
    display: flex;
    position: absolute;
    bottom: 15px;
    right: 38px;
    justify-content: space-around;
}

.modify_write > .btn_group button {
    height: 100%;
    padding: 0px 17px;
    font-size: 14px;
    border-radius: 1px;
    cursor: pointer;
}

.modify_write > .btn_group > #modify_cancel {
    width: 68px;
    border: 1px solid #999;
    background-color: #fff;
}

.modify_write > .btn_group > #modify_cancel:hover {
    border: 1px solid #000;
}

.modify_write > .btn_group > #modify_post {
    width: 81px;
    background-color: #f26a41;
    border-color: #f26a41;
    border: none;
    color: #fff;
}

.modify_write > .btn_group > #modify_post:hover {
    background-color: #e64312;
    border: #ff3c00;
}

/* Modify End */