/* Font */
@font-face {
    font-family: AppleSDGothicNeo;
    src: url("./fonts/AppleSDGothicNeo.ttf");
}
/* Font End */

/* Reset */
* { margin: 0; padding: 0; box-sizing: border-box; outline: none; font-family: AppleSDGothicNeo; }
a { text-decoration: none;  }
em { font-style: normal; }
html { overflow-y: scroll; background-color: #f3f3f3; }
li { list-style: none; }
/* Reset End *

/* Header */
header {
    position: fixed;
    width: 100%;
    height: 64px;
    background-color: #fff;
    border-bottom: 1px solid #d0d0d0;
    z-index: 100;
    display: flex;
}

#logo {
    float: left;
    width: 170px;
    height: 64px;
}

#logo img {
    width: 140px;
    height: 27px;
    margin: 20px 0 0 16px;
}

.input {
    width: 185px;
    height: 48px;
    padding-top: 20px;
    background-color: transparent;
    border-bottom: 2px solid #d0d0d0 !important;
    color: #333;
}

.input_search {
    width: 156px;
    height: 100%;
    border: none;
    padding: 10px 0px;
    font-weight: 700;
    line-height: 20px;
    font-size: 13px;
}

.input_search::placeholder {
    font-size: 12px;
    color: #999;
    font-weight: lighter;
}

.btn_search {
    background-color: #fff;
    border: none;
}

.btn_search > .ti-search {
    background-color: none;
    cursor: pointer;
    color: rgb(117, 117, 117);
}
/* Header End */

/* Side */
#side {
    position: fixed;
    z-index: 50;
    top: 0;
    right: 0;
    height: 100%;
    width: 258px;
    border-left: 1px solid #d0d0d0;
    background-color: #f3f3f3;
    display: flex;
    flex-direction: column;
}

#side > .profile {
    padding-top: 80px;
    width: 218px;
    margin: 0 15px;
    height: 219px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.link_img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto 9px;
}

.link_name {
    text-align: center;
    width: 100%;
    font-weight: 700;
    font-size: 27px;
    letter-spacing: -1px;
    color: #333;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.side_button {
    width: 100%;
    height: 40px;
}

.side_button > ul {
    width: 100%;
    height: 100%;
}

.side_button > ul li {
    width: calc(100%/3);
    height: 100%;
    float: left;
    line-height: 38px;
}

.side_button > ul li a {
    display: block;
    width: 100%;
    height: 100%;
    padding-left: 1px;
    z-index: 1;
    border: 1px solid #d0d0d0;
    background-color: #f3f3f3;
    color: #000;
    border-left: none;
    color: #696969;
    font-weight: 700;
    font-size: 14px;
    text-align: center;
}

#note {
    border-right: none;
}

#friend {
    border-top: 2px solid #f26a41;
    border-bottom: none;
    color: #000;
}

.side_content {
    overflow-y: scroll;
    width: 100%;
    height: 709px;
}

.recommend .sended {
    display: block;
}

.recommend, .note {
    display: none;
}

.content {
    padding: 0 15px;
}

.content > span {
    width: 100%;
    height: 40px;
    font-size: 12px;
    color: #999;
    font-weight: 700;
    line-height: 40px;
}


.friend_list {
    width: 100%;
    height: 100%;
}

.friend_list > ul {
    width: 100%;
    height: 100%;
}

.friend_list > ul li {
    width: 100%;
    height: 40px;
    margin-bottom: 12px;
}

.friend_profile {
    width: 100%;
    height: 100%;
    display: flex;
}

.friend_profile > form {
    width: 100%;
    display: flex;
}

.friend_profile > form > img {
    width: 38px;
    border-radius: 50%;
}

.friend_profile > form > span {
    color: #000;
    width: 136px;
    font-size: 14px;
    height: 100%;
    padding-left: 10px;
    line-height: 38px;
    font-weight: 700;
    text-overflow: ellipsis;
}

.recommend_btn {
    margin-top: 5px;
    display: flex;
    width: 50px;
    height: 22px;
    justify-content: space-between;
}

.recommend_btn span {
    font-size: 11px;
    border-radius: 50%;
    padding: 3px;
    transition: all .3s;
    width: 21px;
    display: none;
    cursor: pointer;
}

.recommend_btn input {
    position: relative;
    width: 21px;
    background-color: transparent;
    height: 21px;
    display: none;
    cursor: pointer;
    border: none;
    right: 3px;
    bottom: 15px;
}

.recommend_btn a {
    position: relative;
    display: block;
    width: 21px;
    height: 21px;
    bottom: 14px;
    right: 4px;
}

.recommend_btn .ti-check {
    color: #FA8067;
    border: 2px solid #FA8067;
}

.recommend_btn .ti-close {
    color: #C5C5C5;
    border: 2px solid #C5C5C5;
}

.recommend_btn .ti-close:hover {
    color: #707070;
    border: 2px solid #707070;
}

.recommend_btn .ti-check:hover {
    color: rgb(172, 98, 83);
    border: 2px solid rgb(172, 98, 83);
}

.recommend_btn {
    cursor: default;
}

.friend_list > ul li > .friend_profile:hover .recommend_btn span,
.friend_list > ul li > .friend_profile:hover .recommend_btn input {
    display: inline-block;
}

.note_button {
    display: block;
    width: 100%a;
    height: 62px;
    font-size: 14px;
    padding: 15px 0;
}

.note_button > a {
    text-align: center;
    display: block;
    height: 33px;
    border: 1px solid #d0d0d0;
    font-weight: 700;
    font-size: 14px;
    line-height: 32px;
    background-color: #f0f0f0;
    color: #717171;
    letter-spacing: -1px;
    border-radius: 5px;
    font-size: 14px;
}

.note_button > a:hover {
    background-color: #e4e4e4;
}

.friend_profile {
    width: 100%;
    height: 100%;
    display: flex;
}

.friend_profile > form {
    width: 100%;
    display: flex;
}

.friend_profile > form > img {
    width: 38px;
    border-radius: 50%;
}

.friend_profile > form > span {
    color: #000;
    width: 136px;
    font-size: 14px;
    height: 100%;
    padding-left: 10px;
    line-height: 38px;
    font-weight: 700;
    text-overflow: ellipsis;
}

.message_list li {
    cursor: pointer;
}

.send_profile {
    width: 100%;
    height: 100%;
    display: flex;
}

.send_profile > form {
    display: flex;
}

.send_profile > form > img {
    width: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.send_profile > form > .send_info {
    display: flex;
    flex-direction: column;
    color: #000;
    font-weight: bold;
}

.send_profile > form > .send_info > .send_date {
    color: #acb0b8;
    font-size: 12px;
}

/* Side End */

/* Container */
.container {
    width: 100%;
    height: 100%;
    padding-right: 259px;
    padding-top: 65px;
    position: absolute;
    text-align: center;
}

.container_wrap {
    background-color: #000;
    width: 800px;
    height: 342px;   
    position: relative;
    margin: 0 auto;
    color: #fff;
}

.bg {
    position: absolute;
    width: 800px;
    height: 342px;
    background-color: rgba(0, 0, 0, 0.192);
    z-index: 5;
}

.myStory {
    background-image: url(/images/profileBG.jpg);
    height: 100%;
    position: relative;
}

.myStory > .name {
    z-index: 6;
    position: absolute;
    width: 190px;
    top: 50px;
    left: 70px;
    display: flex;
    justify-content: space-between;
}

.myStory > .name > img {
    border: 3px solid #fff;
    width: 100px;
    border-radius: 50%;
}

.myStory > .name > span {
    font-size: 28px;
    line-height: 80px;
}

.myStory > .menu_story {
    z-index: 6;
    position: absolute;
    bottom: 15px;
    left: 40px;
    font-size: 14px;
    width: 470px;
    height: 35px;
}

.myStory > .menu_story > ul {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;  
}

.active {
    color: #fff !important;
    border-bottom: 3px solid #f26a41;
}

.myStory > .menu_story > ul > li {
    width: 67px;
    display: block;
    text-align: center;
    cursor: pointer;
    color: rgb(201, 197, 197);
    transition: all .1s;
}

.myStory > .menu_story > ul > li:hover {
    color: #fff;
    border-bottom: 3px solid #f26a41;
}

.myPost {
    width: 578px;
    display: inline-block;
    text-align: center;
    position: relative;
    top: 0;
    margin-top: 10px;
}

.section {
    width: 578px;
    /* min-height: 300px; */
    padding: 40px 40px 0px;
    background-color: #fff;
    margin-bottom: 10px;
    border-bottom: 1px solid #dedede;
    text-align: left !important;
    position: relative;
}

.section > .post_profile {
    position: absolute;
    top: 30px;
    left: 35px;
    width: 170px;
    display: flex;
    justify-content: space-between;
}

.section > .post_profile > img {
    border-radius: 50%;
    width: 50px;
}

.section > .post_profile > .post_info {
    display: flex;
    flex-direction: column;
}

.section > .post_content {
    overflow-y: auto;
    margin-top: 45px;
    min-height: 80px;
    height: auto;
    width: 100%;
    text-overflow: clip;
}

.section > .ti-more-alt {
    width: 16px;
    height: 20px;
    position: absolute;
    top: 35px;
    right: 40px;
    transform: rotate(90deg);
    cursor: pointer;
    color: #c2c2c2;
}

.section > .ti-more-alt:hover {
    color: #989898;
}

.section > .btnList {
    z-index: 30;
    border: 2px solid #d0d0d0;
    border-radius: 2px;
    position: absolute;
    right: 40px;
    top: 60px;
    width: 150px;
    height: 78px;
    float: left;
    background-color: #fff;
    display: none;
}

.section > .btnList a {
    color: #000;
    line-height: 35px;
    padding: 0px 20px;
    display: inline-block;
    width: 100%;
    height: 50%;
    font-size: 13px;
}

.section > .btnList a:hover {
    background-color: #f4f4f4;
}

.section > .btnList > .modify {
    border-radius: 10px 10px 0px 0px;
}

.section > .btnList > .delete {
    border-radius: 0px 0px 10px 10px;
}

.section > .comment {
    padding: 0 40px 15px;
    margin: 0 -40px;
    width: 578px;
    border-top: 1px solid #f4f4f4;
    background-color: #fcfcfc;
    padding-top: 15px;
}

.section > .comment .comment_input {
    padding: 5px 10px;
    width: 100%;
    background-color: #ddd;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    border: 1px solid #e6eaed;
}

.section > .comment .comment_input > input {
    width: 85%;
    border: none;
}

.section > .comment .comment_input > input::placeholder {
    color: rgb(180, 180, 180);
}

.comment_input > .comment_icon {
    color: rgb(201, 201, 201);
    font-size:20px;
}

.comment_input > .comment_icon span {
    cursor: pointer;
}

.comment_input > .comment_icon span:hover {
    color: rgb(143, 143, 143);
}

.comment_post {
    display: none;
    position: absolute;
    width: 64px;
    height: 39px;
    border-color: #f7a68d;
    border: 1px solid #f7a68d;
    border: none;
    background-color: #f7a68d;
    color: #fff;
    cursor: pointer;
    bottom: 15px;
    right: 30px;
    text-align: center;
    line-height: 39px;
    border-radius: 3px;
}

.time {
    font-size: 12px;
    color: #acb0b8;
}

.writer {
    cursor: pointer;
}

.writer:hover {
    text-decoration: underline;
}

.comment_list {
    margin-top: 10px;
    width: 100%;
    height: auto;
}

.comment_list > ul {
    width: 100%;
    height: 100%;
}

.comment_list > ul li {
    width: 100%;
    position: relative;
}

.comment_info > img {
    border-radius: 50%;
    width: 36px;
}

.comment_info {
    display: flex;
}

.comment_info > span {
    margin-left: 10px;
    font-weight: 700;
}

.comment_content {
    position: relative;
    font-size: 13px;
    bottom: 20px;
    left: 45px;
}

.comment_btnList {
    position: absolute;
    top: 4px;
    right: 15px;
    width: 15px;
    height: 15px;
    display: none;
}

.comment_list > ul > li:hover > .comment_btnList {
    display: inline-block;
}

.comment_btnList a {
    display: inline-block;
    width: 100%;
    height: 100%;
    font-size: 10px;
    color: #acb0b8;
}

.comment_info > span {
    font-size: 13px;
}

.comment_group {
    height: 35px;
    border-bottom: 1px solid #eee;
    font-size: 12px;
    line-height: 35px;
}

.comment_group a {
    display: inline;
    margin-right: 8px;
    color: #73767c;
}




.widget {
    position: relative;
    margin-top: 10px;
    margin-left: 10px;
    width: 212px;
    display: inline-block;
}

.widget > div {
    height: 212px;
    background-color: #fff;
    border-bottom: 1px solid #dedede;
    padding: 0 15px;
}

.widget h3 {
    height: 47px;
    padding: 19px 0 7px 5px;
    border-bottom: 3px solid #e5e5e5;
    font-size: 15px;
    line-height: 18px;
    color: #1f1d1d;
    text-align: left;
}

.widget_info {
    margin: 0 0 10px;
}

.list_info {
    width: 100%;
    height: 150px;
}

.list_info > ul {
    padding-top: 10px;
    width: 100%;
    height: 100%;
}

.list_info > ul li {
    width: 100%;
    height: 47px;
    text-align: left;
    border-bottom: 1px solid #eee;
    line-height: 14px;
}

.list_info > ul li > span {
    font-size: 20px;
    color: #acacac;
    position: relative;
    top: 8px;
}

.list_info > ul li > .story {
    font-weight: 700;
    font-size: 13px;
    color: #1f1d1d;
    padding-left: 5px;
    top: 0;
}

.list_info > ul li > h4 {
    padding-left: 29px;
    height: 20px;
    font-weight: 700;
    font-size: 17px;
    color: #646464;
}

.asd {
    margin: 0 auto;
    width: 800px;
    display: flex;
    justify-content: space-between;
}

/* Container End */

/* Modify */
.cover_wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 201;
    background-color: rgba(0, 0, 0, 0.527);
    text-align: center;
    display: none;
}

.modify_write {
    display: inline-block;
    width: 578px;
    position: relative;
    top: 100px;
    padding: 36px 40px 16px;
    min-height: 150px;
    background-color: #fff;
    border-bottom: 1px solid #dedede;
    text-align: left;
    height: 252px !important;
}

.modify_write textarea {
    width: 100%;
    border: none;
    color: #000;
    height: 37px;
    font-size: 14px;
    resize: none;
    min-height: 70%;
}

.modify_write textarea::placeholder {
    color: #999;
}

.modify_write .btn_group {
    width: 160px;
    height: 34px;
    display: flex;
    position: absolute;
    bottom: 15px;
    right: 38px;
    justify-content: space-around;
}

.modify_write .btn_group * {
    height: 100%;
    padding: 0px 17px;
    font-size: 14px;
    border-radius: 1px;
    cursor: pointer;
}

.modify_write .btn_group > #modify_cancel {
    width: 68px;
    border: 1px solid #999;
    background-color: #fff;
    border-radius: 3px;
}

.modify_write .btn_group > #modify_cancel:hover {
    border: 1px solid #000;
}

.modify_write .btn_group > #modify_post {
    line-height: 34px;
    width: 81px;
    background-color: #f26a41;
    border-color: #f26a41;
    border: none;
    color: #fff;
    border-radius: 3px;
}

.modify_write .btn_group > #modify_post:hover {
    background-color: #e64312;
    border: #ff3c00;
}

/* Modify End */

/* Message */
.cover_wrapper_msg {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 201;
    background-color: rgba(0, 0, 0, 0.527);
    text-align: center;
    display: none;
}

.message_write {
    display: inline-block;
    position: relative;
    top: 90px;
    width: 340px;
    height: 598px;
    background-color: #fff;
    border-radius: 2px;
}

.message_write > .message_top {
    display: flex;
    width: 100%;
    padding: 0 17px;
    height: 44px;
    font-weight: 700;
    border-bottom: 1px solid #e5e5e5;
    color: #000;
    line-height: 47px;
    justify-content: space-between;
    font-size: 12px;
}

.message_write > .message_top > #message_cancel {
    border: none;
    background-color: #fff;
    color: rgb(160, 160, 160);
    font-size: 14px;
}

.message_form {
    position: relative;
    width: 100%;
    height: 92.8%;
    padding: 20px 15px;
}

.message_form > textarea {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    padding: 10px 15px;
}

.message_write .btn_group {
    width: 100%;
    height: 40px;
    position: absolute;
    bottom: 13px;
    left: 0;
    text-align: center;
}

.message_write .btn_group > #message_post {
    width: 310px;
    height: 40px;
    left: 15px;
    border: #f26a41;
    background-color: #f26a41;
    cursor: pointer;
    color: #fff;
}

.message_write .btn_group > #message_post:hover {
    background-color: #d95f3a;
    border: #d95f3a;
}

.message_form input {
    width: 100%;
    height: 54px;
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 10px;
    border: none;
    border-bottom: 1px solid #e5e5e5;
}

.message_form .friend_list {
    position: absolute;
    height: 430px;
    top: 60px;
    left: 0;
    padding: 5px 15px;
    overflow-y: auto;
    border-bottom: 1px solid #e5e5e5;
}

.message_top > #message_cancel {
    cursor: pointer;
}

.message_form .friend_list {
    /* display: none; */
}

.message_form > textarea {
    color: #fff;
    display: none;
    position: absolute;
    font-size: 42px;
    padding: 10px 5px;
    top: 54px;
    line-height: 50px;
    height: 430px;
    resize: none;
    border: none;
    text-align: center;
    background-color: darkolivegreen;
}

.message_form .friend_list li {
    cursor: pointer;
}

.message_form .friend_list .friend_profile > a {
    width: 100%;
    display: flex;
}

.message_form .friend_list .friend_profile > a > img {
    width: 38px;
    border-radius: 50%;
}

.message_form .friend_list .friend_profile > a > span {
    color: #000;
    width: 136px;
    font-size: 14px;
    height: 100%;
    text-align: left;
    padding-left: 10px;
    line-height: 38px;
    font-weight: 700;
    text-overflow: ellipsis;
}

.send_info > span {
    color: #000;
    font-weight: 700;
}
/* Message End */

/* Message Show */
.cover_wrapper_msg_show {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 201;
    background-color: rgba(0, 0, 0, 0.527);
    text-align: center;
    display: none;
}

.cover_wrapper_msg_show .friend_profile {
    width: 100%;
    height: 100px;
    padding: 20px 12px 21px;
    display: flex;
}

.cover_wrapper_msg_show .friend_profile > a {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
}

.cover_wrapper_msg_show .friend_profile > a > img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.cover_wrapper_msg_show .friend_profile > .message_name {
    line-height: 49px;
    font-size: 14px;
    color: #333;
    margin-left: 13px;
    font-weight: bold;
}

.cover_wrapper_msg_show .friend_profile > .ti-more-alt {
    width: 16px;
    height: 20px;
    position: absolute;
    top: 80px;
    right: 20px;
    transform: rotate(90deg);
    cursor: pointer;
    color: #c2c2c2;
}

.cover_wrapper_msg_show .friend_profile > .ti-more-alt:hover {
    color: #989898;
}

.cover_wrapper_msg_show .friend_profile > .delete_msg {
    display: none;
}

.cover_wrapper_msg_show #show_msg_input {
    height: 390px;
    width: 100%;
    background-color: darkolivegreen;
    display: block;
    color: #fff;
    position: absolute;
    bottom: 70px;
    resize: none;
    border: none;
    font-size: 42px;
    text-align: center;
    padding: 10px 5px;
}

.friend_profile > .delete_msg {
    z-index: 30;
    border: 2px solid #d0d0d0;
    border-radius: 2px;
    position: absolute;
    right: 20px;
    top: 105px;
    width: 110px;
    height: 37px;
    float: left;
    background-color: #fff;
    display: none;
}

.friend_profile > .delete_msg a {
    text-align: left;
    color: #000;
    height: 100%;
    line-height: 35px;
    padding: 0px 20px;
    display: inline-block;
    width: 100%;
    font-size: 13px;
}

.friend_profile > .delete_msg a:hover {
    background-color: #f4f4f4;
}
/* Message Show End */