/* Reset */
* { margin: 0; padding: 0; box-sizing: border-box; outline: none; }
a { text-decoration: none;  }
em { font-style: normal; }
html { overflow-y: scroll; background-color: #f3f3f3; }
li { list-style: none; }
/* Reset End */

/* Header */
header {
    position: fixed;
    width: 100%;
    height: 64px;
    background-color: #fff;
    border-bottom: 1px solid #d0d0d0;
    z-index: 100;
    display: flex;
}

#logo {
    float: left;
    width: 170px;
    height: 64px;
}

#logo img {
    width: 140px;
    height: 27px;
    margin: 20px 0 0 16px;
}

.input {
    width: 185px;
    height: 48px;
    padding-top: 20px;
    background-color: transparent;
    border-bottom: 2px solid #d0d0d0 !important;
    color: #333;
}

.input_search {
    width: 156px;
    height: 100%;
    border: none;
    padding: 10px 0px;
    font-weight: 700;
    line-height: 20px;
    font-size: 13px;
}

.input_search::placeholder {
    font-size: 12px;
    color: #999;
    font-weight: lighter;
}

.btn_search {
    background-color: #fff;
    border: none;
}

.btn_search > .ti-search {
    background-color: none;
    cursor: pointer;
    color: rgb(117, 117, 117);
}
/* Header End */

/* Side */
#side {
    position: fixed;
    z-index: 50;
    top: 0;
    right: 0;
    height: 100%;
    width: 258px;
    border-left: 1px solid #d0d0d0;
    background-color: #f3f3f3;
    display: flex;
    flex-direction: column;
}

#side > .profile {
    padding-top: 80px;
    width: 218px;
    margin: 0 15px;
    height: 219px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.link_img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto 9px;
}

.link_name {
    text-align: center;
    width: 100%;
    font-weight: 700;
    font-size: 27px;
    letter-spacing: -1px;
    color: #333;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.side_button {
    width: 100%;
    height: 40px;
}

.side_button > ul {
    width: 100%;
    height: 100%;
}

.side_button > ul li {
    width: calc(100%/3);
    height: 100%;
    float: left;
    line-height: 38px;
}

.side_button > ul li a {
    display: block;
    width: 100%;
    height: 100%;
    padding-left: 1px;
    z-index: 1;
    border: 1px solid #d0d0d0;
    background-color: #f3f3f3;
    color: #000;
    border-left: none;
    color: #696969;
    font-weight: 700;
    font-size: 14px;
    text-align: center;
}

#note {
    border-right: none;
}

#friend {
    border-top: 2px solid #f26a41;
    border-bottom: none;
    color: #000;
}

.side_content {
    width: 100%;
    height: 709px;
}

.recommend, .note {
    display: none;
}

.content {
    padding: 0 15px;
}

.content > span {
    width: 100%;
    height: 40px;
    font-size: 12px;
    color: #999;
    font-weight: 700;
    line-height: 40px;
}

.friend_list {
    width: 100%;
    height: 100%;
}

.friend_list > ul {
    width: 100%;
    height: 100%;
}

.friend_list > ul li {
    width: 100%;
    height: 40px;
    margin-bottom: 12px;
}

.friend_list > ul li a {
    display: block;
    width: 100%;
    height: 100%;
}

.friend_profile {
    width: 100%;
    height: 100%;
    display: flex;
}

.friend_profile > img {
    width: 38px;
    border-radius: 50%;
}

.friend_profile > span {
    color: #000;
    width: 136px;
    font-size: 14px;
    height: 100%;
    padding-left: 10px;
    line-height: 33px;
    font-weight: 700;
    text-overflow: ellipsis;
}

.note_button {
    display: block;
    width: 100%a;
    height: 62px;
    font-size: 14px;
    padding: 15px 0;
}

.note_button > a {
    text-align: center;
    display: block;
    height: 33px;
    border: 1px solid #d0d0d0;
    font-weight: 700;
    font-size: 14px;
    line-height: 32px;
    background-color: #f0f0f0;
    color: #717171;
    letter-spacing: -1px;
    border-radius: 5px;
    font-size: 14px;
}

.note_button > a:hover {
    background-color: #e4e4e4;
}

/* Side End */

/* Container */
.container {
    position: absolute;
    width: 100%;
    padding-right: 259px;
}

.posting {
    padding-top: 90px;
    text-align: center;
}

.write {
    width: 578px;
    min-height: 169px;
    height: auto;
    /* height: 308px; */
    padding: 36px 40px 20px;
    display: inline-block;
    background-color: #fff;
    margin-bottom: 15px;
    border-bottom: 1px solid #dedede;
    position: relative;
}

.write textarea {
    width: 100%;
    border: none;
    color: #000;
    height: 40px;
    min-height: 37px;
    font-size: 14px;
    resize: none;
}

.write textarea:focus {
    height: auto;
}

.write textarea::placeholder {
    color: #999;
}

.media {
    position: absolute;
    bottom: 20px;
    /* bottom: 70px; */
}

.media > .type {
    position: relative;
    width: auto;
}

.media > .type ul {
    overflow: hidden;
    width: auto;
    border: 1px solid #d9d9d9;
}

.media .type li {
    overflow: hidden;
    width: 165px;
    border-left: 0;
    position: relative;
    float: left;
}

.media .type li .link_menu {
    display: block;
    height: 54px;
    font-size: 13px;
    text-align: center;
    line-height: 54px;
    color: #646464;
}

.media .type li .txt_menu {
    display: inline-block;
    cursor: pointer;
}

.media .type .ico {
    font-size: 18px;
    margin-right: 4px;
    color: rgb(141, 141, 141);
}

.media .type ul li:hover .ico {
    /* font-weight: bold; */
    color: #000;
}

.media .type ul li:hover .link_menu {
    background-color: #fafafa;
}

.media .type ul li:hover em {
    text-decoration: underline;
}

.write > form > .btn_group {
    width: 160px;
    height: 34px;
    display: flex;
    position: absolute;
    bottom: 15px;
    right: 38px;
    justify-content: space-around;
    display: none;
}

.write > form > .btn_group input {
    height: 100%;
    padding: 0px 17px;
    font-size: 14px;
    border-radius: 1px;
    cursor: pointer;
}

.write > form > .btn_group > #cancel {
    width: 68px;
    border: 1px solid #999;
    color: #505050;
    background-color: #fff;
}

.write > form > .btn_group > #post {
    width: 81px;
    background-color: #f7a68d;
    border-color: #f7a68d;
    border: none;
    color: #fff;
}

.section {
    display: inline-block;
    width: 578px;
    min-height: 260px;
    padding: 40px 40px 0px;
    background-color: #fff;
    margin-bottom: 15px;
    border-bottom: 1px solid #dedede;
    text-align: left !important;
    position: relative;
    height: auto;
}

.section > .post_profile {
    position: absolute;
    top: 30px;
    left: 35px;
    width: 170px;
    display: flex;
    justify-content: space-between;
}

.section > .post_profile > img {
    border-radius: 50%;
    width: 50px;
}

.section > .post_profile > .post_info {
    display: flex;
    flex-direction: column;
}

.section > .post_content {
    overflow-y: auto;
    margin-top: 45px;
    min-height: 80px;
    width: 100%;
    text-overflow: clip;
}

.section > .btnList {
    position: absolute;
    right: 20px;
    top: 20px;
}

.section > .comment {
    padding: 0 40px 15px;
    margin: 0 -40px;
    width: 100%;
    position: absolute;
    bottom: 0;
    border-top: 1px solid #f4f4f4;
    background-color: #fcfcfc;
    padding-top: 15px;
}

.section > .comment > .comment_input {
    padding: 5px 10px;
    width: 100%;
    background-color: #ddd;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    border: 1px solid #e6eaed;
}

.section > .comment > .comment_input > input {
    width: 85%;
    border: none;
}

.section > .comment > .comment_input > input::placeholder {
    color: rgb(180, 180, 180);
}

.comment_input > .comment_icon {
    color: rgb(201, 201, 201);
    font-size:20px;
}

.comment_input > .comment_icon span {
    cursor: pointer;
}

.comment_input > .comment_icon span:hover {
    color: rgb(143, 143, 143);
}

.comment_post {
    display: none;
    position: absolute;
    width: 64px;
    height: 39px;
    border-color: #f7a68d;
    background-color: #f7a68d;
    color: #fff;
    bottom: 15px;
    right: 30px;
    text-align: center;
    line-height: 39px;
    border-radius: 3px;
}

.time {
    font-size: 12px;
    color: #acb0b8;
}

.writer {
    cursor: pointer;
}

.writer:hover {
    text-decoration: underline;
}

.comment_list {
    width: 100%;
    height: auto;
}

.comment_list > ul {
    width: 100%;
    height: 100%;
}

.comment_list > ul li {
    width: 100%;
    position: relative;
}

.comment_info > img {
    border-radius: 50%;
    width: 36px;
}

.comment_info {
    display: flex;
}

.comment_info > span {
    margin-left: 10px;
    font-weight: 700;
}

.comment_content {
    position: relative;
    font-size: 13px;
    bottom: 20px;
    left: 45px;
}

.comment_info > span {
    font-size: 13px;
}

/* Container End */

/* Modify */
.cover_wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 201;
    background-color: rgba(0, 0, 0, 0.527);
    text-align: center;
    display: none;
}

.modify_write {
    display: inline-block;
    width: 578px;
    position: relative;
    top: 100px;
    padding: 36px 40px 16px;
    min-height: 150px;
    background-color: #fff;
    border-bottom: 1px solid #dedede;
    text-align: left;
    height: 252px !important;
}

.modify_write textarea {
    width: 100%;
    border: none;
    color: #000;
    height: 37px;
    font-size: 14px;
    resize: none;
    min-height: 70%;
}

.modify_write textarea::placeholder {
    color: #999;
}

.modify_write .btn_group {
    width: 160px;
    height: 34px;
    display: flex;
    position: absolute;
    bottom: 15px;
    right: 38px;
    justify-content: space-around;
}

.modify_write .btn_group * {
    height: 100%;
    padding: 0px 17px;
    font-size: 14px;
    border-radius: 1px;
    cursor: pointer;
}

.modify_write .btn_group > #modify_cancel {
    width: 68px;
    border: 1px solid #999;
    background-color: #fff;
    border-radius: 3px;
}

.modify_write .btn_group > #modify_cancel:hover {
    border: 1px solid #000;
}

.modify_write .btn_group > #modify_post {
    line-height: 34px;
    width: 81px;
    background-color: #f26a41;
    border-color: #f26a41;
    border: none;
    color: #fff;
    border-radius: 3px;
}

.modify_write .btn_group > #modify_post:hover {
    background-color: #e64312;
    border: #ff3c00;
}

/* Modify End */